/* estilo geral*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    color: white;
}

/*menu*/
header{
    padding: 40px 4%;

}

/*rodape*/
footer{
  background-color: rgb(53, 53, 53);
  padding: 40px;
  text-align: center;
  color: rgb(179, 179, 179);
}

.rs{
 
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(87, 87, 87);
  padding: 30px;
  border-radius: 60px;
  margin-top: 0px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}


/* Pagina Sobre */
body{
    background-color: black;
    height: 100vh;
    color: white;
}

.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
    padding: 40px 20px;
    max-width: 1250px;
    position: relative;
  }
  
  .timeline-horizontal::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #00FFFF; /* linha central */
    z-index: 1;
  }
  
  .timeline-event {
    position: relative;
    text-align: center;
    width: 30%;
    z-index: 2;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    position: relative;
    top: 40px;
    z-index: 3;
  }
  
  .timeline-year {
    font-weight: bold;
    margin-top: 0px;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .timeline-info {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .timeline-dot-2 {
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    position: relative;
    top: -35px;
    z-index: 3;
  }
  
  .timeline-year-2 {
    font-weight: bold;
    margin-top: -35px;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .timeline-info-2 {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    margin-top: -160px;
    border-radius: 5px;
  }

