/* estilo geral*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    color: white;
}

.interface {
    max-width: 1290px;
    margin: 0 auto;
}

/* Estilo cabeçalho */ 

header a {
    color: rgb(121, 119, 119);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 1.2rem;
}

header a:hover {
    color: rgb(11, 94, 248);
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

header nav ul li {
    padding: 0 20px;
    margin: 10px 0;
}

.logo-image img {
    width: 150px;
    height: 150px;
}
/*rodape*/
footer{
  background-color: rgb(53, 53, 53);
  padding: 50px;
  text-align: center;
  color: rgb(179, 179, 179);
}

.linkrodape{
  text-decoration: none;
  color: rgb(179, 179, 179);
}

/* Pagina Sobre */
body{
    background-color: black;
    height: 100vh;
    color: white;
}

.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
    padding: 40px 20px;
    max-width: 1250px;
    position: relative;
  }
  
  .timeline-horizontal::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #00FFFF; /* linha central */
    z-index: 1;
  }
  
  .timeline-event {
    position: relative;
    text-align: center;
    width: 30%;
    z-index: 2;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    position: relative;
    top: 40px;
    z-index: 3;
  }
  
  .timeline-year {
    font-weight: bold;
    margin-top: 0px;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .timeline-info {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .timeline-dot-2 {
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    position: relative;
    top: -35px;
    z-index: 3;
  }
  
  .timeline-year-2 {
    font-weight: bold;
    margin-top: -35px;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .timeline-info-2 {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    margin-top: -160px;
    border-radius: 5px;
  }

/*Form Contato*/

section.formulario { 
    padding: 100px 4%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 0px;
}

form input, form textarea {
    width: 100%;
    background-color: rgba(90, 87, 87, 0.3); 
    border: 0; 
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    min-height: 250px; 
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}
 
/*Botao*/

/* Botão */
.botao {
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    width: 180px;
    height: 50px;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in; 
}

.botao:hover {
    background-color: blueviolet;
    color: white;
}

.bolinha {
    pointer-events: none;
    width: 30px;
    height: 30px;
    animation: botao-bolinha 0.8s ease infinite;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
}