/* estilo geral*/

* {
  margin:0;
  padding: 0;
  font-family:"Quicksand", sans-serif;
}

body{
  background-color: black;
  height: 100vh;
  color: white;
}

/*Estilo Pagina inicial*/

.text-container {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container h1{
padding: 40px;
text-align: center;
font-size: 2rem;
}

.text-container p{
text-align: center;
line-height: 1.8;
font-size: 1.3rem;
}

.text-container strong{
  color: #0ff;
  font-style: italic;
}

/*estilo produtos*/
.produtos {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  background-color: #000;
}

.card {
  background-color: #0a0a0a;
  border: 1px solid #0ff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #fff;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* estilo depoimento */
.depoimento {
  background-color: #01030f;
  color: #0ff;
  text-align: center;
  padding: 50px 20px;
  font-style: italic;
  font-size: 1.2rem;
}

.cta {  
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.cta .botao {
  display: inline-block;
  background-color: #00f0ff;
  color: #000000;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}


/*estilo menu */ 

header a {
  padding: 20px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

header a:hover {
  color: #00f0ff;
  transform: scale(1.10);
}

header nav ul {
  list-style: none;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}

header nav ul li {
  padding: 0 20px;
  margin: 10px 0;
}

/* Rodape */
footer{
  background-color: #093b69;
  padding: 30px 0;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.rs{
  background-color: #2a649b;
  padding: 7px;
  border-radius: 70px;
  margin: 10px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
}

.rs img{
  width: 35px;
  height: 35px;
}

footer a{
text-decoration: none;
color: rgba(255, 255, 255, 0.774);
font-size: 17px;
}

footer p{
  color: rgba(177, 177, 177, 0.774);
}


/* Pagina Sobre */

body{
  background-color: black;
  height: 100vh;
  color: white;
}

.timeline-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px auto;
  margin-top: 300px;
  padding: 40px 20px;
  max-width: 1250px;
  position: relative;
  }
  
  .timeline-horizontal::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #2a649b;
  z-index: 1;
  }
  
  .timeline-event {
  position: relative;
  text-align: center;
  width: 30%;
  z-index: 2;
  }
  
  .timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #2a649b;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid white;
  position: relative;
  top: 50px;
  z-index: 3;
  }
  
  .timeline-year {
  font-weight: bold;
  margin-top: 0px;
  font-size: 18px;
  color: #FFFFFF;
  }
  
  .timeline-info {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 10px;
  margin-top:  35px;
  border-radius: 5px;
  }
  
  .timeline-dot-2 {
  width: 20px;
  height: 20px;
  background-color: #2a649b;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid white;
  position: relative;
  top: -45px;
  z-index: 3;
  }
  
  .timeline-year-2 {
  font-weight: bold;
  margin-top: -45px;
  font-size: 18px;
  color: #FFFFFF;
  }
  
  .timeline-info-2 {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 10px;
  margin-top: -200px;
  border-radius: 5px;
  }

/*Configuração da imagem pagina sobre*/
  .image-sobre-container {
  width: 300px;
  border-radius: 15%;
  padding: 10px;
  margin-left: 750px;
  margin-right: 800px;

  }
/*Configurando a citação do dono*/

  .citacao-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 220%;
  }
  
/*Estilo Novidade */
 .text-novidade-container {
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .text-novidade-container h1{
  font-size: 240%;
 }
 
 .text-novidade-container h2 {
  margin-top: 50px;
  font-size: 230%;
 }
 .text-novidade-container h3{
  font-size: 200%;
 }
 .text-novidade-container p {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1850px;
  font-size: 190%;
  
 }
/*estilo Contato*/

section.formulario { 
  padding: 100px 4%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}

form input, form textarea {
  width: 100%;
  background-color: rgba(90, 87, 87, 0.3); 
  border: 0; 
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
}

form textarea {
  resize: none;
  min-height: 250px; 
}

.titulos{
  text-align: center;
  font-size: 32px; 
  margin-bottom: 30px;
  color: #ffffff;
}

/* Botão */
.botao {
  background-color: rgb(32, 32, 32);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  height: 50px;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: all 0.2s ease-in; 
}

.btn-enviar {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.botao:hover {
  background-color: 0f0f;
  color: white;
}

.bolinha {
  pointer-events: none;
  width: 30px;
  height: 30px;
  animation: botao-bolinha 0.8s ease infinite;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
}